html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header-content {
  display: flex;
  align-items: center;
  width: 960px;
}

.logo img {
    height: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}

.title {
  color: white;
  padding: 0.66rem 0;
}

.new {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
}

.new-content {
  width: 960px;
  margin-top: 9rem;
}

.new-text {
  width: 20rem;
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 2rem 3rem;
}

.new-text h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: firebrick;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  padding: 0.75rem 0;
}

nav a {
  color: white;
  text-decoration: none;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin-top: 3rem;
}

.item-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  width: 30%;
  border: 4px solid black;
}

.item-box img {
  padding: 2rem;
  width: 9rem;
}

.item-box h4 {
  color: white;
  text-align: center;
  background-color: black;
  padding: 0.5rem 0;
  width: 100%;
}

.store-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.info-container h4 {
  color: white;
  text-align: center;
  background-color: black;
  padding: 1rem 2rem;
  margin-bottom: 5px;
}

.location {
  width: 35%
}

.hours {
  width: 35%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 4rem;
  height: 5rem;
}

.copywrite {
  width: 960px;
}

footer span {
  color: white;
}
